<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService"/>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="TrainingPortal.Service.UserService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.IUserService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.CategoryService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.ICategoryService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.AudienceService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.IAudienceService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.CertificateService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.ICertificateService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.LessonService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.ILessonService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.RoleService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.IRoleService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.TestOptionService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.ITestOptionService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.TestService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.ITestService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service name="TrainingPortal.Service.UserRoleService">
        <endpoint address="" binding="basicHttpBinding" contract="TrainingPortal.Service.IUserRoleService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <connectionStrings>
    <add name="Local" providerName="System.Data.SqlClient" connectionString="Server=DESKTOP-Q5KSPMB\SQLEXPRESS;Database=TrainingPortal;User Id=admin;Password=1234567q" />
  </connectionStrings>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
