<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <!--<bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_ICategoryService" />
        <binding name="BasicHttpBinding_ICourseService" />
        <binding name="BasicHttpBinding_IRoleService" />
        <binding name="BasicHttpBinding_IUserRoleService" />
        <binding name="BasicHttpBinding_ILessonService" />
        <binding name="BasicHttpBinding_ITestService" />
        <binding name="BasicHttpBinding_ITestOptionService" />
        <binding name="BasicHttpBinding_ICertificateService" />
        <binding name="BasicHttpBinding_IAudienceService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51750/CategoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryService"
        contract="CategoryService.ICategoryService" name="BasicHttpBinding_ICategoryService" />
      <endpoint address="http://localhost:51750/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
        name="BasicHttpBinding_IUserService" />
      <endpoint address="http://localhost:51750/CourseService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICourseService"
        contract="CourseService.ICourseService" name="BasicHttpBinding_ICourseService" />
      <endpoint address="http://localhost:51750/RoleService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IRoleService" contract="RoleService.IRoleService"
        name="BasicHttpBinding_IRoleService" />
      <endpoint address="http://localhost:51750/UserRoleService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserRoleService"
        contract="UserRoleService.IUserRoleService" name="BasicHttpBinding_IUserRoleService" />
      <endpoint address="http://localhost:51750/LessonService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILessonService"
        contract="LessonService.ILessonService" name="BasicHttpBinding_ILessonService" />
      <endpoint address="http://localhost:51750/TestService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ITestService" contract="TestService.ITestService"
        name="BasicHttpBinding_ITestService" />
      <endpoint address="http://localhost:51750/TestOptionService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITestOptionService"
        contract="TestOptionService.ITestOptionService" name="BasicHttpBinding_ITestOptionService" />
      <endpoint address="http://localhost:51750/CertificateService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICertificateService"
        contract="CertificateService.ICertificateService" name="BasicHttpBinding_ICertificateService" />
      <endpoint address="http://localhost:51750/AudienceService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAudienceService"
        contract="AudienceService.IAudienceService" name="BasicHttpBinding_IAudienceService" />
    </client>-->
  </system.serviceModel>
</configuration>