<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
        <binding name="BasicHttpBinding_ICategoryService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51750/CategoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoryService"
        contract="CategoryService.ICategoryService" name="BasicHttpBinding_ICategoryService" />
      <endpoint address="http://localhost:51750/UserService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IUserService" contract="UserService.IUserService"
        name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
</configuration>