@model TrainingPortal.Web.Business.Models.Certificate

<link href="~/Content/Certificate.css" rel="stylesheet" />

<div class="certificate-container">
	<img src="~/Content/certificate.jpg" />

	<div class="certificate-text">
		@User.Identity.Name | @Model.Result% | @Model.Date.Date
	</div>
</div>