@model TrainingPortal.Models.Test

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>Test</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Question)
		</dt>
		<dd>
			@Html.DisplayFor(model => model.Question)
		</dd>

		<dt>Options</dt>
		<dd>
			[@Html.ActionLink("Change options", "Index", "TestOption", new { testId = Model.Id }, null)]
		</dd>
	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new { id = Model.Id, courseId = Request.Params["courseId"] }) |
	@Html.ActionLink("Back to List", "Index", new { courseId = Request.Params["courseId"] })
</p>
